%h1 Список видов образования
= form_tag delete_multiple_path, :id => "delete_multiple" do
  %input(type="hidden" name="model" value="StudyCategories")
  %table.sortable_table(style="width:600px;")
    %thead
      %tr
        %th
          %div(align="center")
            %input#mark_all(type="checkbox")
        %th Название
        %th Действия
    %tbody
      - @study_categories.each do |study_category|
        %tr
          %td
            %div(align="center")
              = check_box_tag "model_ids[]", study_category.id
          %td= link_to best_in_place(study_category, :name), "#"
          %td
            = link_to 'Удалить', study_category, :method => :delete
  = submit_tag "Удалить отмеченные", :class => "btn error", :confirm => 'Вы действительно хотите удалить отмеченные группы?'
