%h1 Listing fathers

%table
  %tr
    %th ФИО
    %th Дата рождения
    %th Состояние здоровья

    %th
    %th
    %th

  - @fathers.each do |father|
    %tr
      %td= father.name
      %td= father.birthday
      %td= father.health.name
      %td= link_to 'Показать', father
      %td= link_to 'Редактирование', edit_father_path(father)
      %td= link_to 'Удалить', father, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Father', new_father_path
