%h3 Данные
.field
  = f.label :id_equals, "Номер семьи равен"
  = f.number_field :id_equals
.field
  = f.label :title_contains, "Имя семьи содержит"
  = f.text_field :title_contains
.field
  .city_select
    = f.label :city_id_in, "Населенный пункт"
    .step_select
      = city_edit(f) unless Rails.env == 'development'
.field
  = f.label :area_id_equals, "Район"
  = f.select :area_id_equals, Area.scoped.map{|a| [a.name, a.id]}, include_blank: true
.field
  = f.label :phone_contains, "Номер телефона содержит"
  = f.text_field :phone_contains
.field
  = f.label :address_contains, "Адрес содержит"
  = f.text_field :address_contains
.field
  = f.label :description_contains, "Описание содержит"
  = f.text_field :description_contains
.multiparam_field
  = f.label :children_counter_greater_than_or_equal_to, "Детей в семье"
  = f.number_field :children_counter_greater_than_or_equal_to, min: 0
  = f.number_field :children_counter_less_than_or_equal_to, min: 0
.multiparam_field
  = f.label :member_counter_greater_than_or_equal_to, "Людей в семье"
  = f.number_field :member_counter_greater_than_or_equal_to, min: 0
  = f.number_field :member_counter_less_than_or_equal_to, min: 0
.field
  = f.label :date_from, "Помощь не была оказана"
  = text_field_tag :date_from, params[:date_from], class: "date_select"
  = text_field_tag :date_to  , params[:date_to], class: "date_select"
  = select_tag :help_type, help_types_for_select(params), include_blank: true
  = select_tag :help_fund_ids, help_funds_for_select(params), multiple: true
.field
  = f.label :users_id_equals, "Доброволец"
  = f.select :users_id_equals, User.all.collect{|u| [u.name, u.id]}, include_blank: true
.field
  = f.label :fund_id, "Фонд"
  = select_tag :fund_id, funds_for_select(params), include_blank: true
.multiparam_field
  = f.label :created_at_greater_than_or_equal_to, "Заявка создана"
  = f.text_field :created_at_greater_than_or_equal_to, class: 'date_select'
  = f.text_field :created_at_less_than_or_equal_to, class: 'date_select'
.field
  = f.label :status_equals, "Подтвержденность"
  = f.select :status_equals, Family.status_for_select, include_blank: true
