%h3 Члены семьи
.accordion
  %h4
    %a(href="#") Дети
  %div
    = f.label :children_first_name_contains, "Имя содержит"
    = f.text_field :children_first_name_contains
    = f.label :children_second_name_contains, "Фамилия содержит"
    = f.text_field :children_second_name_contains
    = f.label :children_last_name_contains, "Отчество содержит"
    = f.text_field :children_last_name_contains
    = f.label :children_working_equals, "Работает"
    = f.select :children_working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
    = f.label :children_profession_contains, "Профессия/специальность"
    = f.text_field :children_profession_contains
    = f.label :children_sex_equals, "Пол"
    = f.select :children_sex_equals, [['Женский', 0],['Мужской', 1]], include_blank: true

    = f.label :children_health_id_equals, "Здоровье детей"
    = f.select :children_health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true

    .multiparam_field
      = f.label :children_age_greater_than_or_equal_to, "Возраст больше и/или меньше"
      = f.number_field :children_age_greater_than_or_equal_to, min:0
      = f.number_field :children_age_less_than_or_equal_to, min:0

    .multiparam_field
      = label_tag "Сирота"
      = check_box_tag :without_parents
    .multiparam_field
      = label_tag "Нет отца   Нет матери"
      = check_box_tag :without_father
      = check_box_tag :without_mother

    = f.label :children_study_id_equals, "Образование"
    = f.select :children_study_id_equals, StudyCategory.all.collect {|o| [o.name, o.id]}, :include_blank => true
  %h4
    %a(href="#") Отец
  %div
    = f.label :father_first_name_contains, "Имя содержит"
    = f.text_field :father_first_name_contains
    = f.label :father_second_name_contains, "Фамилия содержит"
    = f.text_field :father_second_name_contains
    = f.label :father_last_name_contains, "Отчество содержит"
    = f.text_field :father_last_name_contains
    = f.label :father_working_equals, "Работает"
    = f.select :father_working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
    = f.label :father_profession_contains, "Профессия/специальность"
    = f.text_field :father_profession_contains

    = f.label :father_health_id_equals, "Здоровье отца"
    = f.select :father_health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true

    .multiparam_field
      = f.label :father_age_greater_than_or_equal_to, "Возраст больше и/или меньше"
      = f.number_field :father_age_greater_than_or_equal_to, min:0
      = f.number_field :father_age_less_than_or_equal_to, min:0

  %h4
    %a(href="#") Мать
  %div
    = f.label :mother_first_name_contains, "Имя содержит"
    = f.text_field :mother_first_name_contains
    = f.label :mother_second_name_contains, "Фамилия содержит"
    = f.text_field :mother_second_name_contains
    = f.label :mother_last_name_contains, "Отчество содержит"
    = f.text_field :mother_last_name_contains
    = f.label :mother_working_equals, "Работает"
    = f.select :mother_working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
    = f.label :mother_profession_contains, "Профессия/специальность"
    = f.text_field :mother_profession_contains

    = f.label :mother_health_id_equals, "Здоровье матери"
    = f.select :mother_health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true
    .multiparam_field
      = f.label :mother_age_greater_than_or_equal_to, "Возраст больше и/или меньше"
      = f.number_field :mother_age_greater_than_or_equal_to, min:0
      = f.number_field :mother_age_less_than_or_equal_to, min:0

  %h4
    %a(href="#") Опекун
  %div
    = f.label :trusty_first_name_contains, "Имя содержит"
    = f.text_field :trusty_first_name_contains
    = f.label :trusty_second_name_contains, "Фамилия содержит"
    = f.text_field :trusty_second_name_contains
    = f.label :trusty_last_name_contains, "Отчество содержит"
    = f.text_field :trusty_last_name_contains
    = f.label :trusty_working_equals, "Работает"
    = f.select :trusty_working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
    = f.label :trusty_profession_contains, "Профессия/специальность"
    = f.text_field :trusty_profession_contains

    = f.label :trusty_health_id_equals, "Здоровье опекуна"
    = f.select :trusty_health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true
    .multiparam_field
      = f.label :trusty_age_greater_than_or_equal_to, "Возраст больше и/или меньше"
      = f.number_field :trusty_age_greater_than_or_equal_to, min:0
      = f.number_field :trusty_age_less_than_or_equal_to, min:0
  %h4
    %a(href="#") Другие
  %div
    = f.label :family_members_first_name_contains, "Имя содержит"
    = f.text_field :family_members_first_name_contains
    = f.label :family_members_second_name_contains, "Фамилия содержит"
    = f.text_field :family_members_second_name_contains
    = f.label :family_members_last_name_contains, "Отчество содержит"
    = f.text_field :family_members_last_name_contains
    = f.label :family_members_sex_equals, "Пол"
    = f.select :family_members_sex_equals, [['Женский', 0],['Мужской', 1]], include_blank: true
    = f.label :family_members_working_equals, "Работает"
    = f.select :family_members_working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
    = f.label :family_members_profession_contains, "Профессия/специальность"
    = f.text_field :family_members_profession_contains

    = f.label :family_members_health_id_equals, "Здоровье детей"
    = f.select :family_members_health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true

    .multiparam_field
      = f.label :family_members_age_greater_than_or_equal_to, "Возраст больше и/или меньше"
      = f.number_field :family_members_age_greater_than_or_equal_to, min:0
      = f.number_field :family_members_age_less_than_or_equal_to, min:0

    .multiparam_field
      = label_tag "Один кормилец Сирота"
      = check_box_tag :with_one_parent
      = check_box_tag :without_parents

    = f.label :family_members_study_id_equals, "Образование"
    = f.select :family_members_study_id_equals, StudyCategory.all.collect {|o| [o.name, o.id]}, :include_blank => true
