= form_for @child, :html => {:class => "form-stacked"} do |f|
  -if @child.errors.any?
    #error_explanation
      %h2= "#{pluralize(@child.errors.count, "error")} prohibited this child from being saved:"
      %ul
        - @child.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "ФИО"
    = f.text_field :name
  .field
    = f.label :birthday, "Дата рождения"
    = f.date_select :birthday, :start_year => 1970
  .field
    = f.label :health_id, "Состояние здоровья"
    = f.select :health_id, options_from_collection_for_select(GroupOption.health, :id, :name)

  .field
    = f.label :study_id, "Образование"
    = f.select :study_id, options_from_collection_for_select(StudyCategory.all, :id, :name)
  .field
    = f.label :description, "Описание"
    = f.text_area :description
  .actions
    - if params[:action] == "edit"
      = f.submit 'Сохранить', :class => "btn primary"
    - else
      = f.submit "Создать", :class => "btn primary"
    = link_to 'Отмена', family_path(@child.family), :class => "btn"
