= form_for @search, url: search_children_path, html: {method: :post, class: "form-stacked noprint family_search"} do |f|
  = f.label :first_name_contains, "Имя содержит"
  = f.text_field :first_name_contains
  = f.label :second_name_contains, "Фамилия содержит"
  = f.text_field :second_name_contains
  = f.label :last_name_contains, "Отчество содержит"
  = f.text_field :last_name_contains
  = f.label :working_equals, "Работает"
  = f.select :working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
  = f.label :profession_contains, "Профессия/специальность"
  = f.text_field :profession_contains
  = f.label :sex_equals, "Пол"
  = f.select :sex_equals, [['Женский', 0],['Мужской', 1]], include_blank: true

  = f.label :health_id_equals, "Здоровье детей"
  = f.select :health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true

  .field
    = f.label :birthday_greater_than_or_equal_to, "Возраст больше"
    = f.date_select :birthday_greater_than_or_equal_to, start_year: Time.now.year - 50, end_year: Time.now.year
  .field
    = f.label :birthday_less_than_or_equal_to, "Возраст меньше"
    = f.date_select :birthday_less_than_or_equal_to ,start_year: Time.now.year - 50, end_year: Time.now.year

  .multiparam_field
    = label_tag "Нет отца   Нет матери"
    = check_box_tag :without_father, "on", params[:without_father]
    = check_box_tag :without_mother, "on", params[:without_mother]

  .multiparam_field
    = label_tag "Есть отец Есть мать"
    = check_box_tag :with_father, "on", params[:with_father]
    = check_box_tag :with_mother, "on", params[:with_mother]

  .field
    = f.label :study_id_equals, "Образование"
    = f.select :study_id_equals, StudyCategory.all.collect {|o| [o.name, o.id]}, :include_blank => true
  .field
    = f.label :family_status_equals, "Подтвержденность семьи"
    = f.select :family_status_equals, Family.status_for_select, include_blank: true
  .actions
    = f.submit "Поиск", class: "btn primary"
    %input{type: "button", value: "Сброс", class: "btn", class: "clear_form_button"}

%h1
  Найденные дети
  %small= "Всего #{@whole_children}. Семей: #{@whole_families} Людей: #{@whole_people}"
  %table
    %thead
      %tr
        %th Id семьи
        %th Семья
        %th Имя
        %th Пол
    %tbody
      - @children.each do |child|
        %tr
          %td= link_to child.family.id, family_path(child.family)
          %td= link_to child.family.title, family_path(child.family)
          %td= link_to child.name, child
          %th= child.sex == false ? "Женский" : "Мужской"
= will_paginate @children
