= form_for @search, url: search_children_path, html: {method: :post, class: "form-stacked noprint family_search"} do |f|
  = hidden_field_tag :page, params[:page] || 1
  = f.label :first_name_contains, "Имя содержит"
  = f.text_field :first_name_contains
  = f.label :second_name_contains, "Фамилия содержит"
  = f.text_field :second_name_contains
  = f.label :last_name_contains, "Отчество содержит"
  = f.text_field :last_name_contains
  = f.label :working_equals, "Работает"
  = f.select :working_equals, [["Не работает", 0], ['Работает', 1]], include_blank: true
  = f.label :profession_contains, "Профессия/специальность"
  = f.text_field :profession_contains
  = f.label :sex_equals, "Пол"
  = f.select :sex_equals, [['Женский', 0],['Мужской', 1]], include_blank: true

  = f.label :health_id_equals, "Здоровье детей"
  = f.select :health_id_equals, GroupOption.health.collect {|o| [o.name, o.id]}, :include_blank => true

  .field
    = f.label :birthday_greater_than_or_equal_to, "Возраст больше"
    = f.date_select :birthday_greater_than_or_equal_to, start_year: Time.now.year - 50, end_year: Time.now.year
  .field
    = f.label :birthday_less_than_or_equal_to, "Возраст меньше"
    = f.date_select :birthday_less_than_or_equal_to ,start_year: Time.now.year - 50, end_year: Time.now.year
  .field
    = f.label :study_id_equals, "Образование"
    = f.select :study_id_equals, StudyCategory.all.collect {|o| [o.name, o.id]}, :include_blank => true
  .field
    = f.label :family_status_equals, "Подтвержденность семьи"
    = f.select :family_status_equals, Family.status_for_select, include_blank: true
  .field.multiparam_field
    = f.label :family_priority_between, "Приоритет от и до"
    = f.multiparameter_field :family_priority_between, {:field_type => :number_field}, {:field_type => :number_field}, :size => 5
  .field
    = f.label :family_funds_id_equals, "Семья прикреплена к фонду"
    = f.select :family_funds_id_equals, funds_for_select(params), include_blank: true
  /.field
  /  .city_select
  /    = f.label :city_id_in, "Населенный пункт"
  /    .step_select
  /      = city_edit(f, params)# unless Rails.env == 'development'
  .actions
    = f.submit "Поиск", class: "btn primary"
    %input{type: "button", value: "Сброс", class: "btn", class: "clear_form_button"}

%h1
  Найденные дети
  %small= "Всего #{@whole_children}. Семей: #{@whole_families} Людей: #{@whole_people}"
  %table
    %thead
      %tr
        %th Id семьи
        %th Семья
        %th Имя
        %th Пол
    %tbody
      - @children.each do |child|
        %tr
          %td= link_to child.family.id, family_path(child.family)
          %td= link_to child.family.title, family_path(child.family)
          %td= link_to child.name, child
          %th= child.sex == false ? "Женский" : "Мужской"
= will_paginate @children
