%p#notice= notice

%p
  %b ФИО:
  = @child.name
%p
  %b Дата рождения:
  = @child.birthday
%p
  %b Здоровье:
  = @child.health.name
%p
  %b Учёба:
  = @child.study_name

= link_to 'Назад', family_path(@child.family), class: "btn primary"
