= form_for [:admin, @news], :html => {:class => "form-stacked"} do |f|
  -if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this city from being saved:"
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title, "Заголовок"
    = f.text_field :title
  .field
    = f.label :text, "Текст новости"
    = f.text_area :text
  = f.submit "Создать", :class => "btn primary"
  = link_to 'Отмена', admin_news_index_path, :class => "btn"
