= form_for @search, url: search_visits_path, :html => {:method => :post, :class => "form-stacked noprint"} do |f|
  .field
    = f.label :family_id_equals, "Номер семьи"
    = f.select :family_id_equals, Family.scoped.collect{|f| ["#{f.id} #{f.title}", f.id]}, { :include_blank => true}, {:class => "select_multiple", :multiple => false, 'data-placeholder' => "Нажмите сюда" }
  .multiparam_field
    = f.label :made_at_greater_than_or_equal_to, "Помощь оказана"
    = f.text_field :made_at_greater_than_or_equal_to, class: 'date_select'
    = f.text_field :made_at_less_than_or_equal_to, class: 'date_select'
  .field
    = f.label :title_contains, "Название содержит"
    = f.text_field :title_contains
  .field
    = f.label :description_contains, "Описание содержит"
    = f.text_field :description_contains
  .field
    = f.label :users_id_equals, "Пользователь"
    = f.select :users_id_equals, User.scoped.collect{|u| [u.name, u.id] }, {include_blank: true}, {class: "select_multiple", multiple: false,'data-placeholder' => "Нажмите сюда"}
  .field
    = f.label :funds_id_equals, "Фонд"
    = f.select :funds_id_equals, Fund.scoped.collect{|u| [u.name, u.id] }, {include_blank: true}, {class: "select_multiple", multiple: false,'data-placeholder' => "Нажмите сюда"}
  .actions
    = f.submit "Поиск", :class => "btn primary"
    %input{:type => "button", :value => "Сброс", :class => "btn", :class => "clear_form_button"}
%h1
  Найденные семьи
  %small= "Всего #{@whole_families}. Людей: #{@whole_people}"
= form_tag delete_multiple_path, :id => "delete_multiple" do
  = render 'families/table'
  = submit_tag "Удалить отмеченные", :class => "btn error noprint"
