- priority_names = { "red" => "Нуждаются", "blue" => "Средняя категория", "green" => "Не нуждаются" }
- @priorities.each do |priority|
  - priority_families = Family.by_colour(priority)
  = priority_names[priority.value]
  = priority_families.count
  = "/"
  = priority_families.map(&:member_counter).sum

  %br
%table.table
  %tr
    %th Время
    %td Тип помощи
  - HelpType.scoped.each do |ht|
    = ht.name
    \=>
    = families_count = FamilyHelp.where(help_type_id: ht.id).map(&:family_id).uniq.length
    %br
