- priority_names = { "red" => "Нуждаются", "blue" => "Средняя категория", "green" => "Не нуждаются" }
%table(style="width:600px")
  %tr
    %th Категория
    %th Количество

  - @priorities.each do |priority|
    %tr
      - priority_families = Family.by_colour(priority)
      %td= priority_names[priority.value]
      %td
        = priority_families.count
        = "/"
        = priority_families.map(&:member_counter).sum

  %br
%table.table
  %tr
    %th Время
    %th Оказано помощи
  %tr
    %td Всего
    %td= render 'type_table', types: @types
  %tr
    %td За месяц
    %td= render 'type_table', types: @types_for_month
  %tr
    %td За квартал
    %td= render 'type_table', types: @types_for_quater
  %tr
    %td За год
    %td= render 'type_table', types: @types_for_year
