.info-title
  .info-name= "#{@family.title} (№ #{@family.id})"
  .family-coeff= link_to @family.priority, "#family_status",{ :class => "coeff_link scroll_to", :rel => "twipsy", "data-original-title" => "Приоритет семьи"}
.family-main-info
  .info-block
    .info-block-title Прикрепленные волонтеры
    .info-block-body
      - unless @family.users.count == 0
        - @family.users.each do |user|
          .info
            .info-name
              %span= user.user_info
            .info-value= link_to "Открепить", UsersFamily.where(:family_id => @family.id, :user_id => user.id).first, :method => :delete
      - else
        Нет прикрепленных волонтеров
  .info-block
    .info-block-title Контактные данные
    .info-block-body
      .info
        .info-name
          %span Город
        .info-value= @family.city_name
      .info
        .info-name
          %span Адрес
        .info-value=@family.address
      .info
        .info-name
          %span Телефон
        .info-value=@family.phone
    .info-block
      .info-block-title Члены семьи
      .info-block-body
        %table(style="width: 700px;")
          %tr
            %th
            %th ФИО
            %th Дата рождения
            %th Здоровье
            %th Телефон
            %th
          - if @family.father
            %tr
              %td Отец
              %td= @family.father.name
              %td= @family.father.birthday
              %td= @family.father.health.name if @family.father.health
              %td= @family.father.phone
              %td
                = link_to 'Удалить', @family.father, :method => :delete
                = link_to 'Показать', @family.father
          - if @family.mother
            %tr
              %td Мать
              %td= @family.mother.name
              %td= @family.mother.birthday
              %td= @family.mother.health.name if @family.mother.health
              %td= @family.mother.phone
              %td
                = link_to 'Удалить', @family.mother, :method => :delete
                = link_to 'Показать', @family.mother
          - if @family.trusty
            %tr
              %td Опекун
              %td= @family.trusty.name
              %td= @family.trusty.birthday
              %td= @family.trusty.health.name if @family.trusty.health
              %td= @family.trusty.phone
              %td
                = link_to 'Удалить', @family.trusty, :method => :delete
                = link_to 'Показать', @family.trusty

    .info-block
      .info-block-title
        Дети
      .info-block-body
        %table(style="width: 700px;")
          %tr
            %th ФИО
            %th Дата рождения
            %th Здоровье
            %th Учёба
            %th

          - @family.children.each do |child|
            %tr
              %td= child.name
              %td= child.birthday
              %td= child.health.name if child.health
              %td= child.study.name if child.study
              %td
                = link_to 'Удалить', child, :method => :delete
                = link_to 'Показать', child_path(child)

  .info-block
    .info-block-title Долги
    .info-block-body
      .info
        .info-name
          %span Долг
        .info-value= @family.debt_amount
      .info
        .info-name
          %span Срок долга
        .info-value= @family.debt_time
      .info
        .info-name
          %span Кредит
        .info-value= @family.credit_amount
      .info
        .info-name
          %span Срок кредита
        .info-value= @family.credit_time
    #family_status.info-block
      .info-block-title Состояние семьи
      .info-block-body
        %table.group_options_table
          = raw(render_table @layout, @row_count, @family, false)
    - if permitted_to? :edit, :families
      #family_status.info-block
        .info-block-title
        .info-block-body
          - @family.group_options.where(group_id: Group.for_admin.map(&:id)).each do |go|
            .info
              .info-name
                %span= go.group.name
              .info-value
                = go.name
  .info-block
    .info-block-title Файлы
    .info-block-body
      - @family.attachments.each do |a|
        .info
          .info-name
            %span= link_to File.basename(a.file.path), a.file_url
          .info-value= link_to a.description, a.file_url
= render "buttons"
