.info-block
  .info-block-title Предметы первой необходимости
  .info-block-body
    - if @family.necessities.first.nil?
      Нет предметов первой необходимости
    - else
      - @family.necessities.each do |necessity|
        .info
          .info-name
            %span= necessity.name
          .info-value= link_to "Убрать", @family.necessities.find(necessity.id).family_necessities.first, :method => :delete
.info-block
  .info-block-title Описание
  .info-block-body
    %p= @family.description
.info-block
  .info-block-title Создатель
  .info-block-body
    - if @family.creator
      .info
        .info-name
          %span Имя
        .info-value
          = @family.creator.name
      .info
        - if @family.creator.fund
          .info-name
            %span Фонд
          .info-value
            = @family.creator.fund.name
      .info
        .info-name
          %span Роль
        .info-value
          =  @family.creator.roles.first.name
      .info
        .info-name
          %span Email
        .info-value
          =  @family.creator.email
    - else
      Нет информации
= render 'buttons'
