= simple_form_for @family , html: {class: "form-stacked"} do |f|
  -if @family.errors.any?
    #error_explanation
      %h2= "#{pluralize(@family.errors.count, "error")} prohibited this family from being saved:"
      %ul
        - @family.errors.full_messages.each do |msg|
          %li= msg

  #tabs
    %ul.tabs
      %li.active
        %a(href="#main_tab")Семья
      %li
        %a(href="#children_tab")Дети
      %li
        %a(href="#father_tab")Отец
      %li
        %a(href="#mother_tab")Мать
      %li
        %a(href="#trusty_tab")Опекун
      %li
        %a(href="#other_tab")Другие
      %li
        %a(href="#volunteers_tab")Добровольцы
      %li
        %a(href="#description_tab")Описание
    .tab-content
      #main_tab.active.tab-pane
        %table
          %tr
            %td
              = f.hidden_field :status
              = f.hidden_field :make_visit
              .field
                = f.label :title, "Идентификация семьи"
                = f.text_field :title
              .field
                = f.label :phone, "Телефон"
                = f.text_field :phone
              .field
                = f.label :city_select, "Выбор города"
                Россия
                %br
                Дагестан
                .city_select
                  .step_select
                    = city_edit(f) unless Rails.env == 'development'
              .field
                = f.label :area_id, "Район"
                = f.select :area_id, Area.all.collect{|a| [a.name, a.id]}, {include_blank: true}, {class: "select_multiple", "data-placeholder" => "Нажмите сюда"}
              .field
                = f.label :address, "Адрес"
                = f.text_field :address
              .field
                = f.submit "Создать", class: "btn primary"
            %td
              .field
                = f.label :debt_amount, "Размер долга"
                = f.number_field :debt_amount
              .field
                = f.label :debt_time, "Срок долга"
                = f.text_field :debt_time, class: "date_select"
              .field
                = f.label :credit_amount, "Размер кредита"
                = f.number_field :credit_amount
              .field
                = f.label :credit_time, "Срок кредита"
                = f.text_field :credit_time, class: "date_select"

          = raw(render_table @layout, @row_count, @family)

          - if permitted_to? :edit, :families
            %tr
              %td
                - Group.for_admin.each do |g|
                  = raw(render_select(g, @family))
        .row
          = f.fields_for :attachments do |af|
            = render 'attachment_fields', f: af
          = link_to_add_fields "Добавить файл", f, :attachments
      #children_tab.tab-pane
        = f.fields_for :children do |fld|
          = render "child_fields", f: fld
        = link_to_add_fields "Добавить анкету ребенка", f, :children
      #father_tab.tab-pane
        = f.fields_for :father do |fld|
          = render "father_fields", f: fld
      #mother_tab.tab-pane
        = f.fields_for :mother do |fld|
          =render "mother_fields", f: fld
      #trusty_tab.tab-pane
        = f.fields_for :trusty do |fld|
          =render "trusty_fields", f: fld
      #other_tab.tab-pane
        = f.fields_for :family_members do |fld|
          =render "family_member_fields", f: fld
        = link_to_add_fields "Добавить анкету", f, :family_members
      #volunteers_tab.tab-pane
        = f.label :user_tokens, "Прикрепленные к семье люди"
        = f.select :user_tokens, options_from_collection_for_select(User.all, :id, :name, @family.users.collect {|u| u.id}), { include_blank: true}, { class: "select_multiple", multiple: true, 'data-placeholder' => "Нажмите сюда" }
        = f.label :volunteer_tokens, "Внесшие семью"
        = f.select :volunteer_tokens, options_from_collection_for_select(User.all, :id, :name, @family.users.collect{|u| u.id}), {include_blank: true}, { class: "select_multiple", multiple: true, 'data-placeholder' => "Нажмите сюда" }
        = f.label :visit_date, "Дата визита"
        = f.text_field :visit_date, class: "date_select"

      #description_tab.tab-pane
        .field
          = f.label :necessity_tokens, "Введите нужные предметы"
          = f.select :necessity_tokens, options_from_collection_for_select(Necessity.all, :id, :name, @family.necessities.collect {|n| n.id}), {include_blank: true}, {class: "select_multiple", multiple: true, 'data-placeholder' => "Нажмите сюда"}
        .field
          = f.label :description, "Описание"
          = f.text_area :description
  - if params[:action] == "edit"
    = f.submit 'Сохранить', class: "btn primary"
  - else
    = f.submit "Создать", class: "btn primary"

  = f.submit 'Создать визит и сохранить', class: "btn info make_visit"
  = link_to 'Отмена', families_path, class: "btn"
