%table.sortable_table
  %thead
    %tr
      %th
        %div(align="center")
          %input#mark_all(type="checkbox")
      %th ID
      %th Приоритет
      %th Семья
      %th Телефон
      %th Город/село
      %th Адрес
      - @groups.visible.each do |gr|
        %th= gr.name
      %th Действия
  %tbody
    - priorities = Setting.priority
    - @families.each do |family|
      - for priority in priorities do
        - if family.priority > priority.start and family.priority <= priority.end
          - color = priority.value
          - name = priority.name
          - break
      %tr{:class => color}
        %td
          %div(align="center")
            = check_box_tag "model_ids[]", family.id
        %td= link_to family.id, family
        - if name
          %td= link_to priority.name, family
        -else
          %td= link_to family.priority, family
        %td= link_to family.title, family
        %td= link_to family.phone, family
        %td= link_to family.city_name, family
        %td= link_to family.address, family
        - @groups.visible.each do |gr|
          - if @go = family.group_options.find_by_group_id(gr.id)
            %td= link_to @go.name, family
        %td
          = link_to 'Редактировать', edit_family_path(family)
          = link_to 'Удалить', family, :method => :delete
