.fields
  .field
    = f.label :name, "Имя"
    = f.text_field :first_name
    = f.label :name, "Фамилия"
    = f.text_field :second_name
    = f.label :name, "Отчество"
    = f.text_field :last_name
  .field
    = f.label :birthday, "Дата рождения"
    = f.date_select :birthday, :start_year => 1910
  .field
    = f.label :working, "Работает"
    = f.select :working, [["Не работает", 0], ["Работает", 1]]
  .field
    = f.label :profession, "Профессия/специальность"
    = f.text_field :profession
  .field
    = f.label :phone, "Телефон"
    = f.text_field :phone
  .field
    = f.label :description, "Описание"
    = f.text_area :description
  .field
    = f.label :health_id, "Состояние здоровья"
    = f.select :health_id, GroupOption.health.collect { |g| [g.name, g.id]}

  .field
    = f.label :who, "Кем приходится"
    = f.text_field :who
