= content_for :sidebar do
  %li#delete_marked
    = link_to "Удалить отмеченные", "#", class: "btn error delete_multiple_families", confirm: 'Вы уверены, что хотите удалить отмеченные семьи?'
  %li
    = link_to "Сбросить фильтры", "#", class: "btn info reset_filters"
- if params[:search]
  %h1 Поиск по семьям
  = content_for :sidebar do
    %li
      = link_to "Полный список семей", families_path, class: "btn primary"
- else
  %h1.noprint Список семей
= form_tag delete_multiple_path, :id =>"delete_multiple" do
  %input(type="hidden" name="model" value="Families")
= render 'families/table'
= link_to "Удалить отмеченные", "#", class: "btn error noprint delete_multiple_families"

- if params[:q]
  = link_to "Полный список семей", families_path, class: "btn info noprint"
= will_paginate @families
