= content_for :sidebar do
  %li= link_to "Поиск по помощи", search_family_helps_path, class: "btn primary"
  %li= link_to "Поиск по помощи2", help_search_family_helps_path, class: "btn primary"
  %li= link_to "Поиск по визитам", search_visits_path, class: "btn primary"
  %li= link_to "Поиск по детям", search_children_path, class: "btn primary"
  %li= link_to 'Экспорт в Excel', "#", class: "btn info excel_export"

%h1.noprint Расширенный поиск по семьям

= form_for @search, url: search_families_path, html: {method: :post, class: "form-stacked noprint family_search"} do |f|
  = hidden_field_tag :page, params[:page] || 1
  .row
    .span5
      = render 'layouts/search/families/data_fields', f: f
    .span5
      = render 'layouts/search/families/condition_fields', f: f
    .span5
      = render 'layouts/search/families/members_fields', f: f
  .actions
    = f.submit "Поиск", class: "btn primary"
    %input{type: "button", value: "Сброс", class: "btn", class: "clear_form_button"}

%h1
  Найденные семьи
  %small= "Всего #{@whole_families}. Людей: #{@whole_people}. Детей: #{@whole_children}"
= will_paginate @families
= form_tag delete_multiple_path, id: "delete_multiple" do
  = render 'table'
  = submit_tag "Удалить отмеченные", class: "btn error noprint"
- if params[:q]
  = link_to "Полный список семей", families_path, class: "btn info noprint"
= will_paginate @families
