= content_for :sidebar do
  %li
    = link_to "Редактировать семью", edit_family_path(@family), class: "btn info"
%p#notice= notice
%ul.tabs
  %li.active
    %a(href="#data_tab")Данные
  %li
    %a(href="#help_tab")Визиты и помощь
  %li
    %a(href="#desc_tab")Описание
  %li
    %a(href="#incomes_tab")Доходы и расходы
.tab-content
  #data_tab.active.tab-pane
    = render 'data_tab'
  #help_tab.tab-pane
    = render 'help_tab'
  #desc_tab.tab-pane
    = render 'desc_tab'
  #incomes_tab.tab-pane
    = render 'incomes_tab'
= link_to 'Редактировать', edit_family_path(@family), class: "btn"
= link_to 'Назад', families_path, class: "btn"
- if permitted_to? :persist, :families
  - if @family.persists?
    = link_to 'Сделать запись предварительной', persist_family_path(@family), class: "btn"
  - else
    = link_to 'Сделать запись постоянной', persist_family_path(@family), class: "btn"
