= form_for [:admin, @group_option], :html => {:class => "form-stacked"} do |f|
  -if @group_option.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group_option.errors.count, "error")} prohibited this group_option from being saved:"
      %ul
        - @group_option.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Название коэффициента"
    = f.text_field :name
  .field
    = f.label :problem, "Является ли коэффициент проблемой?"
    = f.check_box :problem
  .field
    = f.label :trouble, "Отображать на главной?"
    = f.check_box :trouble
  .field
    = f.label :coeff, "Значение"
    = f.number_field :coeff, min:-1000
  .field
    = f.label :group_id, "Группа, к которой принадлежит коэффициент"
    = f.collection_select(:group_id, Group.all, :id, :name)
  / - if @group_option.group_id == Group.find_by_name("Денежное довольствие").id
  /   .field
  /     = f.label :amount_start, "Начало интервала"
  /     = f.number_field :amount_start
  /   .field
  /     = f.label :amount_end, "Конец интервала"
  /     = f.number_field :amount_end
  .actions
    = f.submit 'Сохранить', :class => "btn primary"
    = link_to 'Назад к списку коэффициентов', admin_group_options_path, :class => "btn"
