= form_for [:admin, @group_option], :html => {:class => "form-stacked"} do |f|
  -if @group_option.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group_option.errors.count, "error")} prohibited this group_option from being saved:"
      %ul
        - @group_option.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Название коэффициента"
    = f.text_field :name
  .field
    = f.label :coeff, "Значение"
    = f.number_field :coeff, min:0
  .field
    = f.label :group_id, "Группа, к которой принадлежит коэффициент"
    = f.collection_select(:group_id, Group.all, :id, :groupName)
  - if @group_option.group_id == Group.find_by_groupName("source").id
    .field
      = f.label :amount_start, "Начало интервала"
      = f.number_field :amount_start
    .field
      = f.label :amount_end, "Конец интервала"
      = f.number_field :amount_end
  .actions
    = f.submit 'Сохранить', :class => "btn primary"
    = link_to 'Назад к списку коэффициентов', admin_group_options_path, :class => "btn"
