%h1 Listing mothers

%table
  %tr
    %th Name
    %th Birthday
    %th Health
    %th
    %th
    %th

  - @mothers.each do |mother|
    %tr
      %td= mother.name
      %td= mother.birthday
      %td= mother.health.name
      %td= link_to 'Show', mother
      %td= link_to 'Edit', edit_mother_path(mother)
      %td= link_to 'Destroy', mother, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Mother', new_mother_path
