.field
  = f.label :family_id_equals, "Номер семьи"
  = f.select :family_id_equals, Family.scoped.collect{|f| ["#{f.id} #{f.title}", f.id]}, { :include_blank => true}, {:class => "select_multiple", :multiple => false, 'data-placeholder' => "Нажмите сюда" }
.field
  = f.label :title_contains, "Название содержит"
  = f.text_field :title_contains
.field
  = f.label :description_contains, "Описание содержит"
  = f.text_field :description_contains
.actions
  = f.submit "Поиск", :class => "btn primary"
  %input{:type => "reset", :value => "Сброс", :class => "btn", :class => "clear_form_button"}
