%h1.noprint Расширенный поиск по семьям

= form_for @search, :url => search_path, :html => {:method => :post, :class => "form-stacked noprint"} do |f|
  - if params[:family_helps]
    = render 'family_help_search', f: f
  - elsif params[:visits]
    = render 'visits_search', f: f
  - else
    = render 'family_search', f: f
- if @families
  = form_tag delete_multiple_path, :id => "delete_multiple" do
    = render 'families/table'
    = submit_tag "Удалить отмеченные", :class => "btn error noprint"
  - if params[:q]
    = link_to "Полный список семей", families_path, :class => "btn info noprint"
- elsif @visist
- elsif @family_helps
