= form_tag delete_multiple_path, :id =>"delete_multiple" do
  %input(type="hidden" name="model" value="FamilyHelps")
  %table.sortable_table
    %thead
      %tr
        %th
          %div(align="center")
            %input#mark_all(type="checkbox")
        %th Семья
        %th Приоритет
        %th Размер
        %th Тип
        %th Дата
        %th Действия
    %tbody
      - @family_helps.each do |help|
        %tr
          %td
            %div(align="center")
              = check_box_tag "model_ids[]", help.id
          %td= link_to "#{help.family.id} #{help.family.title}", help.family
          %td= link_to help.family.priority, help.family
          %td= link_to (help.amount || 0), help
          %td= link_to help.help_type.nil? ? "Нет" : help.help_type.name
          %td= link_to help.made_at, help
          %td
            = link_to 'Показать', help
            = link_to 'Удалить', help, method: :delete
.row
  .span12
    = will_paginate @family_helps
