= form_for @role, :html => {:class => "form-stacked"} do |f|
  -if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, "Название роли"
    = f.text_field :title
  .field
    = f.label :user_tokens, "Пользователи, принадлежащие данной роли  "
    = f.select :user_tokens, options_from_collection_for_select(User.all, :id, :name, @role.users.collect {|u| u.id}), { :include_blank => true}, {:class => "select_multiple", :multiple => true, 'data-placeholder' => "Нажмите сюда" }

  .actions
    - if params[:action] == "edit"
      = f.submit 'Сохранить', :class => "btn primary"
    - else
      = f.submit 'Создать', :class => "btn primary"
    = link_to 'Список ролей', roles_path, :class => "btn"
