= form_for [:admin, @group], :html => {:class => "form-stacked"} do |f|
  -if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Название группы"
    = f.text_field :name
  .field
    = f.label :coeff, "Значимость"
    = f.number_field :coeff
  .field
    = f.label :for_people, "Для людей?"
    = f.check_box :for_people
  .actions
    - if params[:action] == 'edit'
      = f.submit 'Сохранить', :class => "btn primary"
    - else
      = f.submit 'Создать', :class => "btn primary"
    = link_to 'Назад к списку групп', admin_groups_path, :class => "btn"
