%h1 Список групп
= form_tag delete_multiple_path, :id => "delete_multiple" do
  %input(type="hidden" name="model" value="Groups")
  %table.sortable_table(style="width:1000px;")
    %thead
      %tr
        %th
          %div(align="center")
            %input#mark_all(type="checkbox")
        %th Название группы
        %th Важность группы
        %th Для людей?
        %th Отображать на главной?
        %th Настройка
        %th Позиция
        %th Видна администратору
        %th Действия
    %tbody
      - @groups.each do |group|
        %tr
          %td
            %div(align="center")
              = check_box_tag "model_ids[]", group.id
          %td= group.name
          %td= group.coeff
          %td= group.for_people? ? "Да" : "Нет"
          %td= group.important? ? "Да" : "Нет"
          %td

          %td= group.position? ? group.position : "Нет"
          %td= group.hidden? ? group.hidden : "Нет"
          %td
            = link_to 'Удалить', [:admin, group], :confirm => 'Все коэффициенты, принадлежащие этой группе, а также все семьи, у которых есть удяляемые коэффициенты, будут удалены!', :method => :delete
            = link_to "Изменить", edit_admin_group_path(group)
  = submit_tag "Удалить отмеченные", :class => "btn error", :confirm => 'Все коэффициенты, принадлежащие отмеченным группам, а также все семьи, у которых есть удяляемые коэффициенты, будут удалены!'
