%h1 Список групп
= form_tag delete_multiple_path, :id => "delete_multiple" do
  %input(type="hidden" name="model" value="Groups")
  %table.sortable_table(style="width:600px;")
    %thead
      %tr
        %th
          %div(align="center")
            %input#mark_all(type="checkbox")
        %th Название группы
        %th Действия
    %tbody
      - @groups.each do |group|
        %tr
          %td
            %div(align="center")
              = check_box_tag "model_ids[]", group.id
          %td= group.name
          %td
            = link_to 'Удалить', [:admin, group], :confirm => 'Все коэффициенты, принадлежащие этой группе, а также все семьи, у которых есть удяляемые коэффициенты, будут удалены!', :method => :delete
  = submit_tag "Удалить отмеченные", :class => "btn error", :confirm => 'Все коэффициенты, принадлежащие отмеченным группам, а также все семьи, у которых есть удяляемые коэффициенты, будут удалены!'
